* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;

  --bg-color: #141414;
  --smoke-white: #E5E5E5;
}

body {
  font-size: 1.6rem;
}